* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    /*The padding and everything below for now is only for mobile sites!*/
    min-width: 320px;
}

section {
    /*Mobile site padding*/
    padding: 1rem;

}

div {
    display: flex;
    flex-direction: column;
    // gap: 1rem 0rem;
}