@use "../styles/partials/mixins" as *;
@use "../styles/partials/navbar" as *;
@use "../styles/partials/page-formatting" as *;
@use "../styles/partials/variables" as *;
@use "../styles/partials/footer" as *;

.hero {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100vw;
    background-image: url("../assets/Images/hero-bio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;

    &__header {
        @include mobile-section-header;
        color: white;
        z-index: 1;
        position: relative;
        left: 1rem;
        margin: 5rem 0rem;
    }

    &__overlay{
        background-color: #323232;
        opacity: 50%;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}

.about {
    display: flex;
    flex-direction: column;

    &__header {
        @include mobile-section-header;
        padding-top: 0.5rem;
    }

    &__image {
        width: 100%;

        &-container {
            gap: 0.5rem 0rem;

            &-quote {
                @include mobile-body-copy;
                font-weight: 600;
                letter-spacing: 1px;
                line-height: 1.5rem;

            }
        }

    }

    &__description {

        &-text {
            @include mobile-body-copy;
        }

        &-subheader {
            @include mobile-body-copy;
            color: $dark-black;

        }
    }
}

.photo-gallery {
    &__photo {
        width: 100%;

    }

    &__photos-container {
        gap: 1rem 0rem;
    }

    &__section-heading {
        @include mobile-section-header;
    }
}
