@use "../styles/partials/mixins" as *;
@use "../styles/partials/navbar" as *;
@use "../styles/partials/page-formatting" as *;
@use "../styles/partials/variables" as *;
@use "../styles/partials/footer" as *;

.hero {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100vw;
    background-image: url("../assets/Images/hero-bio.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    &__header {
        @include mobile-section-header;
        color: white;
        z-index: 1;
        position: relative;
        left: 1rem;
        margin: 5rem 0rem;

        @include tablet {
            margin: 22rem 0rem;
            font-size: 6rem;
            left: 5rem;
        }

        @include desktop {
            left: 8rem;
        }
    }

    &__overlay {
        background-color: #323232;
        opacity: 50%;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}

.about {
    display: flex;
    flex-direction: column;

    @include tablet {
        gap: 2rem;
    }

    &__header {
        @include mobile-section-header;
        padding-top: 0.5rem;

        @include tablet {
            font-size: 4rem;
        }

    }

    &__image {
        width: 100%;

        &-container {
            gap: 0.5rem 0rem;

            @include tablet {
                padding: 0rem 6rem;
                gap: 2rem;
            }

            &-quote {
                @include mobile-body-copy;
                font-weight: 600;
                letter-spacing: 1px;
                line-height: 1.5rem;

                @include tablet {
                    font-size: 2rem;
                    line-height: 3rem;
                }

                &--teddy-bryan {
                    @include mobile-body-copy;
                    font-weight: 600;
                    letter-spacing: 1px;
                    line-height: 1.5rem;
    
                    @include tablet {
                        font-size: 1.55rem;
                        font-weight: 600;
                    }
                }
            }

            




        }

    }

    &__description {

        @include tablet {
            padding: 0rem 5rem;
        }

        &-text-container {
            @include tablet {
                display: flex;
                flex-direction: row;
                font-size: 2rem;
                gap: 1rem;
            }
        }

        &-text {
            @include mobile-body-copy;

            @include tablet {
                font-size: 1.4rem;
                line-height: 2rem;
            }


        }

        &-subheader {
            @include mobile-body-copy;
            color: $dark-black;

            @include tablet {
                font-size: 2.3rem;
                font-weight: 600;
                padding: 2rem 0rem;
            }

        }
    }
}

.photo-gallery {
    background-color: $alabaster;

    &__photo {
        width: 100%;

        @include tablet {
            width: 33%;
            gap: 0rem;
            padding: 1rem;
        }

    }

    &__photos-container {
        gap: 1rem 0rem;

        @include tablet {
            gap: 0rem;
            width: 100%;
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;

        }
    }

    &__section-heading {
        @include mobile-section-header;

        @include tablet {
            font-size: 3rem;
            padding-left: 1rem;
        }
    }
}