@use "./global.scss" as *;
@use "./partials/mixins" as *;



.navbar__current-page {
    color: #fff;
    border-bottom: 3px solid white;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100vw;
    padding: 0rem 1rem;
    background-image: url("../assets/Images/hero-bio.jpg");
    background-repeat: none;
    background-size: cover;
    height: 65vh;

    &__title {
        @include mobile-section-header;
        color: #fff;
        z-index: 1;
    }


}